<% provide :title, t("about.title") %>
<h1 class="title"><%= t("about.title") %></h1>
<div class="container">
  <p class="indent"><%= t("about.content") %></p>
  <div>
    <p class="quoteText"><%= t("about.quote") %></p>
    <p class="authorOrTitle"><%= t("about.author") %></p>
  </div>
</div>
