<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= avatar_for user %>
        <%= link_to user.name, user %>
      </h1>
      <% if authorize_display_unshare_member %>
        <%= link_to t("memorial.privacy.delete"), user.find_relation(@memorial), method: :delete, remote: true,
          data: {confirm: t("delete.confirm"), class: "unshare"} %>
      <% end %>
    </section>
  </aside>
</div>
