<div id="landing-search-input">
  <div class="row">
    <%= form_with local: true, method: :get,
                  html: { class: "form-inline" } do |form| %>
      <div class="row form-group">
        <div class="col-sm-8">
          <%= form.text_field :query, value: params[:query],
            placeholder: t("search.inf"), size: 40, data:
            {behavior: "autocomplete"}, class: "form-control" %>
        </div>
        <div class="col-sm-4">
          <%= form.button t("search.title"),
            class: "btn btn-outline-success form-control" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
