<div class="tribute rounded-box tribute_form">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <span> <p class="eulogy"> <%= tribute.eulogy %> </p></span>
          <span class="author"><%= tribute.belongs_username %></span>
        </h1>
      </section>
    </aside>
  </div>
</div>
