<% provide :title, t("memorial.profile") %>
<div id= "privacy_option">
  <%= render "privacy_form" %>
</div>
<div id= "shared_form">
  <% if @memorial.privacy_type_shared? %>
      <%= render "shared_list" %>
  <% end %>
</div>
