<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-text header-text">
          <h2><%= t "home.welcome" %></h2>
          <h4 class="heading"><%= t "home.tribute" %></h4>
            <%= link_to t("home.signup"), new_user_path,
                        class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
