  <div class="show-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-text header-text">
          <h2><%= @memorial.name %></h2>
          <h2><%= birth_and_death_year @memorial %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
